.body_content{
	.p(88,0,0,0);
	#header{
		background:@defaultColor;
	}
	.film_paly{
		ul{
			background:@defaultColor;
			.pl(60);
			.pr(60);
			.h(80);
			.l-h(80);
			.play_li_active{
				color:@redColor1;
				border-bottom:@redColor1 solid 1px;
			}
			li{
				width:50%;
				.f-s(28);
			}
		}
		.film_paly_content .divWrap{
			.pt(0);
			.pb(0);
		}
		.film_paly_content div{
			display:none;
			background:@defaultColor;
			.p(50,20,50,20);
			ol{
				margin: 0;
				border-bottom:#e5e5e5 solid 1px;
				.pb(46);
				.pt(46);
			}
			ol li a{
				display:inline-block;
				span{
					.w(160);
					.h(210);
					.mr(20);
					overflow:hidden;
					img{
						.w(160);
						.h(210);
					}
				}
				em h2{
					.f-s(34);
					.mb(5);
					color:#2b2b2b;
					.l-h(40);
					span.movieName{
						float:left;
						display:block;
						width:auto;
						height:auto;
						.l-h(40);
						padding:0;
					}
					i{
						.t-t(0,8);
						.h(28);
						.l-h(26);
						.ml(10);
						.border(1,#3fb1f8);
						color:#3fb1f8;
						.p(0,5,0,5);
						.f-s(18);
						float:left;
						display:block;
					}

				}
				em .paly_content_p{
					.mt(44);
				}
				strong{
					.mt(14);
				}
				em strong{
					// display:inline-block;
					position:relative;
					.h(32);
					.l-h(32);
					display:block;
					.starBox{
						position:relative;
						.h(20);
						float:left;
						display:block;
						.w(120);
						left:0;
						.t(6);
						padding:0;

						.starImg1{
							background:url('../img/gradeStar2.png') no-repeat;
							z-index:2;
						}
						.starImg2{
							background:url('../img/gradeStar2Bg.png') no-repeat;
							z-index:1;
						}
						.starImg{
							.bg-s(120,20);
							background-position:left center;
							display: block;
							.w(120);
							.h(20);
							position:absolute;
							left:0;
							top:0;
							padding:0;
							overflow: hidden;
						}
					}
					.gradeNum{
						float:left;
						display:block;
						color:#f47000;
						.f-s(28);
						.l-h(32);
						padding:0;
						.ml(16);
					}
				}
				em p{
					color:#b2b2b2;
					.f-s(25);
				}
			}
		}


	}

















}
